<div class="flex justify-center items-center">
  <form
    [formGroup]="addNoteForm"
    (ngSubmit)="addNote($event)"
    class="max-w-3xl w-full flex border-red-400 border-2 rounded-md py-2 px-3"
  >
    <input
      type="text"
      name="content"
      id="content"
      placeholder="note content"
      formControlName="noteContent"
      class="text-lg font-normal outline-none grow"
    />
    <button class="bg-red-400" type="submit">
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z"
            stroke="rgb(248 113 113 / var(--tw-bg-opacity))"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <g opacity="0.4">
            <path
              d="M9 9.50977L12 6.50977L15 9.50977"
              stroke="#292D32"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M12 6.50977V14.5098"
              stroke="#292D32"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </g>
          <path
            opacity="0.4"
            d="M6 16.5098C9.89 17.8098 14.11 17.8098 18 16.5098"
            stroke="#292D32"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </g>
      </svg>
    </button>
  </form>
</div>
