<div
  class="flex justify-between items-center my-2"
  *ngIf="!updateNoteState.value; else updateForm"
>
  <h3
    class="font-mina"
    [ngClass]="NOTE_SIZE[note.priority]"
    (click)="changeUpdateState()"
  >
    {{ note.content }}
  </h3>
  <div class="flex justify-between items-center gap-4">
    <button
      class="px-3 py-2 rounded bg-red-500 text-white font-medium"
      (click)="deleteNote(note.id)"
    >
      delete
    </button>
    <button class="px-3 py-2 rounded bg-green-500 text-white font-medium">
      Done
    </button>
  </div>
</div>
<!-- Update note form template -->
<ng-template #updateForm>
  <div class="flex justify-between items-center my-2">
    <form
      [formGroup]="updateNoteForm"
      (ngSubmit)="updateNote(note.id, $event)"
      class="flex max-w-3xl w-full px-3"
    >
      <input
        class="font-mina"
        [ngClass]="NOTE_SIZE[note.priority]"
        type="text"
        name="content"
        id="content"
        formControlName="noteContent"
        class="text-lg font-normal outline-none grow py-2"
      />
      <button type="submit" class="w-10 h-10 py-1 px-2">
        <button type="submit" class="w-10 h-10 py-1 px-2">
          <svg
            width="40px"
            height="40px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M10.3009 13.6949L20.102 3.89742M10.5795 14.1355L12.8019 18.5804C13.339 19.6545 13.6075 20.1916 13.9458 20.3356C14.2394 20.4606 14.575 20.4379 14.8492 20.2747C15.1651 20.0866 15.3591 19.5183 15.7472 18.3818L19.9463 6.08434C20.2845 5.09409 20.4535 4.59896 20.3378 4.27142C20.2371 3.98648 20.013 3.76234 19.7281 3.66167C19.4005 3.54595 18.9054 3.71502 17.9151 4.05315L5.61763 8.2523C4.48114 8.64037 3.91289 8.83441 3.72478 9.15032C3.56153 9.42447 3.53891 9.76007 3.66389 10.0536C3.80791 10.3919 4.34498 10.6605 5.41912 11.1975L9.86397 13.42C10.041 13.5085 10.1295 13.5527 10.2061 13.6118C10.2742 13.6643 10.3352 13.7253 10.3876 13.7933C10.4468 13.87 10.491 13.9585 10.5795 14.1355Z"
                stroke="#ef4444"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
          </svg>
        </button>
      </button>
    </form>
  </div>
</ng-template>
